/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  padding-top: 50px;
  color: #5a5a5a;
  font-family: "Quattrocento", "Georgia",serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Oswald","Helvetica Neue","Verdana", sans-serif;
}

p {
  line-height: 1.8;
  margin-bottom: 1.1em;
}

li {
  line-height: 1.8;
}

table h1 {
  margin-top:0px;
}

table h3 {
  margin-top: 5px;
}

#main {
  margin-top: 1.1em;
}

.article-content {
  margin-top: 20px;
}

#signup {
  margin: 25px;
}

a {
  color: #2a6496;
  text-decoration: none;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.featured-nav-link {
  background: #CF1B41;
}

.navbar-default .navbar-nav>li.featured-nav-link>a {
  color: #fff;
  border-left: #cfcfcf 2px solid;
  border-right: #cfcfcf 2px solid;
}

.navbar-default .navbar-nav>li>a {
  color: #111;
}

.navbar-default .navbar-brand {
  color: #111;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* MOBILE ALERT */
.alert.visible-xs .glyphicon {
  margin-right:10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 425px;
  background-image: url(/images/goldengate-top.jpg);
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 60px;
  color: #fff;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-inner {
  /*
  Address issue #37: https://github.com/sfbrigade/sfbrigade.github.io/issues/37

  We need to set overflow-y to allow scrolling because bootstrap.css
  sets it to hidden, which cuts off the carousel's contents in small screens.
  (Setting to auto will allow scrolling when needed, but won't show a
  scrollbar when not needed.)  See also this comment for the reason Bootstrap used hidden:
  https://github.com/twbs/bootstrap/issues/6091#issuecomment-10923509
  */
  overflow-y: auto;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.jumbotron {
  margin-top: 20px;
  background: rgba(0,0,0,0.66)
}

.jumbotron .row {
  margin-top: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contributors img {
  width: 50px;
}

.contributor-owner img {
  border: 1px solid #428bca;
}

.people td {
  font-size: 20px;
}

.people img {
  width: 50px;
}

.sponsors img {
  padding: 10px 30px 10px 0;
}

.label:hover { text-decoration: none; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin-top:10px;
  padding-top: 19px;
  color: #777;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

#recent-event { margin: 10px 0 0 0; }

.api-title { width: 30%; }

.thumbnail {margin-bottom: 5px;}

/* Bars */
.bar {
  position: relative;
  width: 4px;
  height: 50px;
  margin: 10px 1px 0 1px;
  float: left;
}
.bar span {
    border-style: solid;
    border-width: 0 2px;
    display: block;
    width: 1px;
    margin: 0 1px;
    text-indent: -5000px;
    background: none repeat scroll 0 0 #95A5A6;
    border-color: #95A5A6;
    position: absolute;
    bottom: 0;
}

.project-needs { margin-top: 20px;}

.wide {
  width: 100%;
}

.main-row {
  margin-top: 20px;
}

h2.first {
  margin-top: 0;
}

.blog-text img {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

/* a11y */
  .skiplink {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.skiplink:focus, .skiplink:active {
  left: 0px;
  width: auto;
  height: 2em;
  font-size:1em;
}


.blog-post img {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figcaption {
padding-left: 3.236em;
padding-right: 3.236em;
font-size: 1rem;
line-height: 1.25;
margin-bottom: 0;
color: #4b4b49;
text-align: center;
clear: both;
display: block;
}

@media screen and (min-width: 768px ) {
  figcaption {
    position: absolute;
    top: 1px;
    right: -14.3254em;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 12.7074em;
    text-align: left;
  }
  figcaption:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background: #b3b3b3;
  }
}


section {
  margin: 30px 0;
}

#stories h2 {
  margin-top: 0;
}

.author-image {
  margin-right: 10px;
}

.author-name {
  margin-top: 0;
}

.btn, form button, input[type="submit"], .btn-inverse, .btn-social, .btn-info, .btn-warning, .btn-success, .btn-danger {
display: inline-block;
padding: 8px 20px;
line-height: 1.71429;
margin-bottom: 0;
/*background-color: #ccc;*/
color: #222;
text-decoration: none;
border: 0 !important;
border-radius: 10px;
-webkit-transition: background 0.2s,border 0.2s;
-moz-transition: background 0.2s,border 0.2s;
transition: background 0.2s,border 0.2s;
}

.btn-tall {
  line-height: 3;
}

.btn {
  background-color: #0970a8;
  color: #fff;
}

.btn-special-event {
  background-color: #E2768D;
  color: #000000;
}

.btn-hack {
  background-color: #0970a8;
  color: #fff;
}

.btn:hover, .btn:focus {
  background-color: #092BA8;
  color: #fff;
}

.inline-btn:after {
content: "";
display: table;
clear: both;
}

.inline-btn a, .inline-btn btn {
display: inline-block;
margin-right: 0.809em;
}

.btn-social {
color: #313130 !important;
border: 1px solid #ddd !important;
}

.btn-inverse, .btn-social {
background-color: #fff;
color: #313130;
}

.btn-social.twitter:hover {
background: #55acee;
border-color: #55acee;
}

.btn-social.facebook:hover {
background: #3b5998;
border-color: #3b5998;
}

.btn-social.google-plus:hover {
background: #dd4b39;
border-color: #dd4b39;
}

.btn-social:hover {
color: #fff !important;
}

.sponsor-details a span {
position: absolute;
left: -999em;
}

.alert {
  margin-bottom: 0;
}

.sidebar {
  border-right: thin solid #eee;
}

/* MODALS */

.modal-backdrop {
  z-index: 0;
}


/*NDoCH */

.panel-gold {
  border-color: #c98910;
}

.panel-platinum {
  border-color: #cdcbc7;
}

.panel-silver {
  border-color: #9a9a9a;
}

.panel-gold>.panel-heading {
  color: #222;
  background-color: #efaf36;
  border-color: #c98910;
}

.panel-platinum>.panel-heading {
  color: #222;
  background-color: #E5E4E2;
  border-color: #cdcbc7;
}

.panel-silver>.panel-heading {
  color: #222;
  background-color: #c0c0c0;
  border-color: #9a9a9a;
}

/*Partners CSS Opportunities Panels Same Height */

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

/*timeline for Projects */

.circle {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background: #E2768D;
  text-align: center;
  line-height: 160px;
  color:black;
  /* width and height can be anything, as long as they're equal */
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


#bulletLoc {
  list-style-type: none;
}


/* CUSTOMIZE THE CAROUSEL NDOCH
-------------------------------------------------- */

.banner_ndoch {
  height: 400px;
  background-image: url(/images/goldengate-top.jpg);
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 20px;
  color: #fff;
}


.navp {
  margin-bottom: -20px;
}

/* Override mailchimp CSS
-------------------------------------------------- */
body #mc_embed_signup .asterisk {
  color: #a94442;
  font-size: 200%;
}
