 	<!-- FOOTER -->
  <div class="footer">
    <p>
      <a href="http://twitter.com/OpenSaltLake" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a href="http://github.com/opensaltlake" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
      <span class="pull-right">© Open Salt Lake 2015 | <a href="https://github.com/opensaltlake/opensaltlake.github.io"><i class="icon-github"></i> Pull requests welcome!</a></span>
    </p>
  </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script type="text/javascript">
  var today = new Date().getDay()
  if(today === 3){
    $('.check-in-banner').show()
  }
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10.3/ICanHaz.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
{% for script in page.scripts %}
  <script src="{{ site.baseurl }}/js/{{script}}"></script>
{% endfor %}
