 	<!-- FOOTER -->
  <div class="footer">
    <p>
      <a href="http://twitter.com/SFbrigade" rel="me">
        <i aria-hidden="true" class="fa fa-twitter-square fa-2x"></i>
        <span class="sr-only">Twitter</span>
      </a>
      <a href="http://github.com/sfbrigade" rel="me">
        <i aria-hidden="true" class="fa fa-github-square fa-2x"></i>
        <span class="sr-only">Github</span>
      </a>
      <span class="pull-right">© Code for San Francisco 2014 | <a href="/about/privacy_policy.html">Privacy Policy</a></span>
    </p>
  </div>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script type="text/javascript">
  $(function() {
    var checkInLinks = [
      "https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin/?event=Hack+Night&question=What+do+you+most+like+doing+at+Hack+Night%3F",
      "https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin/?event=Hack+Night&question=Is+this+your+first+Hack+Night%3F",
      "https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin/?event=Hack+Night&question=How+did+you+hear+about+us%3F",
      "https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin/?event=Hack+Night&question=I+come+to+Code+for+San+Francisco+because%3F"
    ];
    var today = new Date().getDay();
    if(today === 3){
      var checkInLink = checkInLinks[Math.floor(Math.random()*checkInLinks.length)];
      $('a.check-in').attr('href', checkInLink);
      $('.check-in-banner').show();
    }
  });
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/mustache.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70064412-1', 'auto');
  ga('send', 'pageview');
</script>
{% for script in page.scripts %}
  <script src="{{ site.baseurl }}/js/{{script}}"></script>
{% endfor %}
