<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description" content="San Francisco locals helping San Francisco government and local organiztions open their data and create meaningful tools">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".navbar">

    <!-- NAVBAR
    ================================================== -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code for San Francisco</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
            <li><a href="#meetup">Events</a></li>
            <li><a href="#odc">Open Data</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.meetup.com/kcbrigade"><span class="glyphicon glyphicon-calendar"></span> At Meetups</a></li>
                <li><a href="https://plus.google.com/communities/100955515676911241506"><span class="glyphicon glyphicon-plus"></span> On Google+</a></li>
                <li><a href="http://webchat.freenode.net?channels=codeforkc&uio=d4"><span class="glyphicon glyphicon-transfer"></span> In #IRC</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/luminopolis"><span class="glyphicon glyphicon-tower"></span> Our Code</a></li>
                <!--
                <li class="divider"></li>
                list individual projects here <li><a href="#">Separated link</a></li>
                -->
              </ul>
            </li>
          </ul>
         <!-- /.navbar-collapse -->
      </nav>
      {{ content }}
      <!-- FOOTER -->
      <div class="footer">
          <p class="pull-right">© Code for San Francisco 2014 | <a href="https://github.com/sfbrigade/codeforsanfrancisco.org"><i class="icon-github"></i> Pull requests welcome!</a></p>
      </div>

    </div><!-- /.container -->
  </body>
</html>
