{% include header.html %}
<div class="row main-row">
	<div class="col-md-7">
  	{{ content }}
  {% include add-edit.html add=false %}
	</div>
	<div class="col-md-4">
		<div class="list-group">
			<h2 class="first needs">Needs</h2>
			<button type="button" class="btn btn-success btn-block">I want to Help!</button>
		</div>

		<h2 class="code">Code</h2>

    {% include updates.html %}
	</div>
</div>
{% include footer.html%}
<script id="needsList" type="text/html">
    {% raw %}
    {{#needs}}
    	<a href="{{html_url}}" class="list-group-item">{{title}}</a>
    {{/needs}}
    {% endraw %}
</script>
<script id="repoPanels" type="text/html">
    {% raw %}
    {{#repos}}
    
    <div class="panel panel-default">
		 <div class="panel-heading"> <a href="{{code_url}}">{{#github_details}}<h3 class="panel-title">/{{name}}</h3></a></div>
		  <div class="panel-body">
		    <p>{{description}}</p>
		  </div>
    {{/github_details}}
		  <div class="list-group">
		    <a href="{{code_url}}/issues" class="list-group-item">Issues<span class="badge">{{issue_count}}</span></a>
		    <a href="{{code_url}}/contributors" class="list-group-item">Contributors<span class="badge">{{contributor_count}}</span></a>
		  </div>
		</div>
    {{/repos}}
    {% endraw %}
</script>
<script>

{% assign id_array = page.path | split:"/" %}

var cfapi_project = 'http://codeforamerica.org/api/projects/{{id_array[2]}}';
var projects = [];
var issues = [];
var repos = [];
var needs = [];

$.getJSON(cfapi_project, showProjectDetails);

function showProjectDetails(response) {
	// Fill up the projects list
  console.log(response);
  repos = response;
  repos.issue_count = response.issues.length;
  repos.contributor_count = response.github_details.contributors.length;
  var repoPanels = ich.repoPanels({repos: repos});
  $("h2.code").after(repoPanels);

	// Follow next page links
  /*if (data.pages.next) {
    $.when($.getJSON(data.pages.next)).then(showProjects);
  } else {
  	$.each(projects, function(i,json){
  		if(github_url.indexOf(json.code_url) > -1) {
  			json.issue_count = json.issues.length;
  			json.contributor_count = json.github_details.contributors.length;
  			issues = issues.concat(json.issues);
  			repos = repos.concat(json);
  		}
  	});
  	$.each(issues, function(i,json){
  		$.each(json.labels, function(j,label){
  			if(label.name == 'project-needs') {
  				needs = needs.concat(json);
  			}
  		});
  	});
  	var needsList = ich.needsList({needs: needs});
  	var repoPanels = ich.repoPanels({repos: repos});
  	$("h2.needs").after(needsList);
  	$("h2.code").after(repoPanels);
  }*/
}
</script>
</body>
</html>